:root,
html {
  --hunter-color: var(--hunter-color-700);
  --hunter-color-50: #ecfdf5;
  --hunter-color-100: #d1fae5;
  --hunter-color-200: #a7f3d0;
  --hunter-color-300: #6ee7b7;
  --hunter-color-400: #34d399;
  --hunter-color-500: #10b981;
  --hunter-color-600: #059669;
  --hunter-color-700: #047857;
  --hunter-color-800: #065f46;
  --hunter-color-900: #064e3b;
  --hunter-color-950: #022c22;
  --stone-color: var(--stone-color-600);
  --stone-color-50: #fafaf9;
  --stone-color-100: #f5f5f4;
  --stone-color-200: #e7e5e4;
  --stone-color-300: #d6d3d1;
  --stone-color-400: #a8a29e;
  --stone-color-500: #78716c;
  --stone-color-600: #57534e;
  --stone-color-700: #44403c;
  --stone-color-800: #292524;
  --stone-color-900: #1c1917;
  --stone-color-950: #0c0a09;
  --sky-color: var(--stone-color-600);
  --sky-color-200: #bae6fd;
  --sky-color-300: #7dd3fc;
  --sky-color-400: #38bdf8;
  --sky-color-500: #0ea5e9;
  --sky-color-600: #0284c7;
  --sky-color-700: #0369a1;
}
